@font-face {
  font-weight: 800;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Gilroy";
  font-style: normal;

  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensans-light.woff2") format("woff2"),
  url("../fonts/opensans-light.woff") format("woff");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;

  src: url("../fonts/opensans-regular.woff2") format("woff2"),
  url("../fonts/opensans-regular.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  padding-top: 40px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
          clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}

.container:first-of-type {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

/* header */

.header {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 60px;
  padding-top: 27px;
  padding-bottom: 53px;

  background-color: #f7e296;

  -ms-flex-wrap: wrap;
}

.header-logo {
  position: absolute;
  top: -18px;
  left: 60px;
  z-index: 1;

  width: 100%;
}

.header-logo img {
  width: 164px;
  height: 36px;
}

.header-logo:focus,
.header-logo:hover {
  outline: none;
  opacity: 0.6;
}

.header-logo:active {
  outline: none;
  opacity: 0.3;
}

.header-logo:not([href]) {
  opacity: 1;
}

.main-navigation {
  width: 100%;
}

.main-navigation-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 33px;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.search-form {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  align-items: flex-end;
  width: 440px;
  min-height: 49px;

  -webkit-box-align: end;
  -ms-flex-align: end;
  -ms-flex-wrap: wrap;
}

.search {
  width: 355px;
  min-height: 49px;
  padding: 0;
  padding-left: 40px;

  background-color: #f7e296;
  border: none;
  opacity: 0.3;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  width: 26px;
  height: 100%;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search:hover {
  opacity: 0.6;
}

.search:focus {
  border-bottom: 2px solid black;
  outline: none;
  opacity: 1;
}

.search-form .submit-btn {
  display: none;
  min-width: 85px;
  max-width: 85px;
  min-height: 49px;
  margin: 0;
  padding: 0;

  font: inherit;
  vertical-align: middle;
  text-align: center;
  color: black;
  text-transform: uppercase;
  word-wrap: break-word;

  background-color: transparent;
  border: 2px solid black;
}

.search:focus ~ .submit-btn {
  display: block;
}

.search-form .submit-btn:hover,
.search-form .submit-btn:focus {
  color: white;

  background-color: black;
  outline: none;
  cursor: pointer;
}

.search-form .submit-btn:active {
  display: block;

  outline: none;
}

.search-form .submit-btn:active span {
  opacity: 0.3;
}

.header-user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
}

.user-navigation-item a {
  word-wrap: break-word;
}

.header-user-navigation .login-link {
  position: relative;

  max-width: 70px;
  margin-right: 217px;
  padding-left: 26px;
}

.header-user-navigation .login-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 15px;
  height: 100%;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header-user-navigation .logout-link {
  max-width: 45px;
  margin-right: 59px;

  opacity: 0.3;
}

.header-user-navigation .username {
  position: relative;

  max-width: 136px;
  margin-right: 15px;
  padding-left: 26px;

  word-wrap: break-word;
}

.header-user-navigation .username::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 15px;
  height: 100%;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header-user-navigation .compare-link {
  position: relative;

  max-width: 91px;
  margin-right: 35px;
  padding-left: 22px;

  word-wrap: break-word;
}

.header-user-navigation .compare-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 15px;
  height: 100%;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header-user-navigation .basket-link {
  position: relative;

  max-width: 85px;
  padding-left: 25px;

  word-wrap: break-word;
}

.header-user-navigation .basket-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 15px;
  height: 100%;

  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header-user-navigation a:focus,
.header-user-navigation a:hover,
.header-user-navigation .logout-link:focus,
.header-user-navigation .logout-link:hover,
.header-user-navigation .login-link:focus::before,
.header-user-navigation .login-link:hover::before,
.header-user-navigation .basket-link:focus::before,
.header-user-navigation .basket-link:hover::before,
.header-user-navigation .compare-link:focus::before,
.header-user-navigation .compare-link:hover::before {
  outline: none;
  opacity: 0.6;
}

.header-user-navigation a:active,
.header-user-navigation .login-link:active::before,
.header-user-navigation .basket-link:active::before,
.header-user-navigation .compare-link:active::before {
  outline: none;
  opacity: 0.3;
}

.main-navigation-bottom {
  position: relative;

  text-transform: uppercase;
}

.navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;
}

.navigation-link {
  word-wrap: break-word;
}

.navigation-link.catalog-link {
  position: relative;

  max-width: 255px;
  margin-right: 294px;
  padding-right: 31px;
}

.navigation-link.catalog-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  width: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.catalog-links {
  position: absolute;
  left: -60px;
  z-index: 10;

  display: none;
      flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1160px;
  margin: 0;
  padding: 0 60px;
  padding-top: 35px;
  padding-bottom: 43px;

  list-style: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: none;

  background-color: #f7e296;

  -webkit-box-align: start;
  -webkit-box-pack: start;
  -ms-flex-align: start;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.navigation-link:first-of-type:hover .catalog-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-links > .catalog-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  align-items: flex-start;
  width: 200px;
  margin-right: 40px;

  word-wrap: break-word;

  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-flex-wrap: wrap;
}

.catalog-links > .catalog-link:last-of-type {
  margin-right: 0;
}

.catalog-links > .catalog-link a {
  width: 100%;
  margin-bottom: 20px;
}

.catalog-links > .catalog-link a:last-of-type {
  margin-bottom: 0;
}

.delivery-link {
  max-width: 125px;
  margin-right: 36px;

  word-wrap: break-word;
}

.guarantee-link {
  max-width: 130px;

  word-wrap: break-word;
}

.contacts-link {
  max-width: 130px;
  margin-left: auto;
}

.navigation-link > a {
  letter-spacing: 3.6px;
  word-wrap: break-word;
}

.navigation-link a:hover,
.navigation-link a:focus {
  outline: none;
  opacity: 0.6;
}

.navigation-link a:active {
  outline: none;
  opacity: 0.3;
}

/* footer */

.footer {
  padding-top: 64px;
  padding-bottom: 67px;

  color: #ffffff;

  background-color: #464646;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;

  -webkit-box-align: start;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-align: start;
  -ms-flex-pack: start;
  -ms-flex-pack: center;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 40px;

  -webkit-box-align: start;
  -webkit-box-pack: justify;
  -ms-flex-align: start;
  -ms-flex-pack: justify;
}

.footer-logo {
  width: 164px;
  height: 36px;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-logo:not([href]) {
  opacity: 1;
}

.footer-user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: none;

  -ms-flex-wrap: wrap;
}

.user-navigation-item path {
  fill: #ffc600;
}

.footer-user-navigation .un-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 16px;
  height: 100%;
}

.footer-user-navigation .username {
  position: relative;

  max-width: 140px;
  margin-right: 19px;
  padding-left: 28px;
}

.footer-user-navigation .login-link {
  position: relative;

  max-width: 71px;
  margin-right: 43px;
  padding-left: 28px;
}

.footer-user-navigation .logout-link {
  max-width: 45px;
  margin-right: 45px;
}

.footer-user-navigation .compare-link {
  position: relative;

  max-width: 91px;
  margin-right: 40px;
  padding-left: 22px;
}

.footer-user-navigation .basket-link {
  position: relative;

  max-width: 82px;
  padding-left: 22px;
}

.footer-user-navigation a,
.footer-user-navigation .username span:first-of-type {
  opacity: 0.7;
}

.footer-user-navigation a:focus,
.footer-user-navigation a:hover {
  opacity: 1;
}

.footer-user-navigation a:focus + .un-icon,
.footer-user-navigation a:hover + .un-icon {
  opacity: 0.6;
}

.footer-user-navigation a:active,
.footer-user-navigation a:active + .un-icon {
  opacity: 0.3;
}

.footer-user-navigation .logout-link {
  opacity: 0.3;
}

.footer-user-navigation .logout-link:hover,
.footer-user-navigation .logout-link:focus {
  opacity: 0.6;
}

.footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 63px;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.footer-address {
  max-width: 210px;
  margin: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: none;
  word-wrap: break-word;
}

.services-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  margin: 0;
  padding: 0;

  list-style: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  word-wrap: break-word;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.services-link.delivery-link {
  max-width: 130px;
}

.services-link.guarantee-link {
  max-width: 130px;
}

.services-link.contacts-link {
  max-width: 130px;
  margin-left: 0;
}

.services-links .services-link:not(:last-of-type) {
  margin-right: 39px;
}

.footer-phone {
  max-width: 170px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: none;
  word-wrap: break-word;
}

.services-links .services-link:hover,
.services-links .services-link:focus,
.footer-phone a:focus,
.footer-phone a:hover {
  opacity: 0.6;
}

.services-links .services-link:active,
.footer-phone a:active {
  opacity: 0.3;
}

.footer-bottom {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;

  -webkit-box-align: start;
  -webkit-box-pack: justify;
  -ms-flex-align: start;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.footer-bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 509px;

  list-style: none;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.footer-socials-item {
  width: 32px;
  height: 32px;

  opacity: 0.3;
}

.footer-socials-item:not(:last-of-type) {
  margin-right: 23px;
}

.fb-link {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.inst-link {
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tw-link {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-socials-item:hover,
.footer-socials-item:focus {
  cursor: pointer;
  opacity: 0.6;
}

.footer-socials-item:active {
  opacity: 0.1;
}

.academy-logo {
  margin-left: auto;
}

.academy-logo img {
  width: 27px;
  height: 35px;
}

.academy-logo:focus,
.academy-logo:hover {
  opacity: 0.6;
}

.academy-logo:active {
  opacity: 0.3;
}

/* index */
.slider {
  position: relative;

  margin-bottom: 95px;
  overflow: hidden;
  overflow-y: visible;
}

.slider-controls {
  position: absolute;
  top: 327px;
  left: 1000px;
  z-index: 10;

  height: 12px;
}

.slider-switcher {
  position: relative;

  padding-right: 33px;
}

.slider-switcher:focus,
.slider-switcher:hover,
.slider-switcher:active {
  outline: none;
  cursor: pointer;
}

.slider-switcher::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 12px;
  height: 12px;

  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.sld-1:checked ~ .slider-controls label[for="sld-1"]::before,
.sld-2:checked ~ .slider-controls label[for="sld-2"]::before,
.sld-3:checked ~ .slider-controls label[for="sld-3"]::before {
  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300%;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-align: start;
  -webkit-box-pack: start;
  -ms-flex-align: start;
  -ms-flex-pack: start;
}

.sld-1:checked ~ .slides {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.sld-2:checked ~ .slides {
  -webkit-transform: translateX(-1160px);
      -ms-transform: translateX(-1160px);
          transform: translateX(-1160px);
}

.sld-3:checked ~ .slides {
  -webkit-transform: translateX(-2320px);
      -ms-transform: translateX(-2320px);
          transform: translateX(-2320px);
}

.slide {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 1160px;
  margin: 0 auto;

  -webkit-box-align: stretch;
  -webkit-box-pack: justify;
  -ms-flex-align: stretch;
  -ms-flex-pack: justify;
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 111px;

  background-color: #f7e296;
}

.slide-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 580px;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.slide-number {
  position: absolute;
  top: -13px;
  right: 57px;
  z-index: -1;

  max-width: 220px;

  font-size: 179.2px;
  line-height: 179.2px;
  color: #ffffff;
  word-wrap: break-word;
}

.slide-description {
  width: 560px;
}

.slide:nth-of-type(1) .slide-title {
  max-width: 390px;
}

.slide:nth-of-type(2) .slide-title {
  max-width: 260px;
}

.slide:nth-of-type(3) .slide-title {
  max-width: 510px;
}

.slide-title {
  position: relative;

  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-top: 80px;

  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  color: black;
  word-wrap: break-word;
}

.slide-title::before {
  content: "";
  position: absolute;
  top: 30px;

  width: 100px;
  height: 7px;

  background-color: white;
}

.slide-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 509px;
  margin: 0;
  margin-bottom: 61px;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
  word-wrap: break-word;
}

.slide-info-link {
  position: relative;
  z-index: 2;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 260px;
  margin-top: auto;
  margin-bottom: 67px;
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  word-wrap: break-word;

  background-color: transparent;
  border: none;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.slide-info-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;

  width: 260px;
  height: 8px;

  background-color: #f0c52e;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  -webkit-transition: 0.3s ease-in-out;
       -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
}

.slide-info-link:hover::before {
  height: 40px;

  outline: none;
}

.slide-info-link:active .button-text {
  opacity: 0.3;
}

.slide-params-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;

  list-style: none;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.slide-params-item:not(:last-of-type) {
  margin-right: 80px;
}

.slide-params-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -ms-flex-item-align: start;
  -ms-flex-pack: start;
}

.slide-params-value {
  max-width: 160px;
  margin-bottom: 5px;

  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
  word-wrap: break-word;
}

.slide-params-text {
  max-width: 150px;

  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
  word-wrap: break-word;
}

.popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 178px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.popular-item {
  width: 160px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.popular-item-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  margin-bottom: 36px;

  background-color: #f7e296;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.popular-item:nth-of-type(2) .popular-item-logo {
  align-items: flex-end;

  -webkit-box-align: end;
  -ms-flex-align: end;
}

.popular-item h3 {
  width: inherit;
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  word-wrap: break-word;
}

.popular-item:hover,
.popular-item:focus,
.popular-item:active {
  outline: none;
}

.popular-item:hover .popular-item-logo,
.popular-item:focus .popular-item-logo {
  background-color: #f0c52e;
}

.popular-item:active .popular-item-logo img,
.popular-item:active h3 {
  opacity: 0.3;
}

.services {
  position: relative;

  width: 100%;
  height: 288px;
  margin-bottom: 94px;

  background-color: #e5e5e5;
}

.services-wrapper {
  position: absolute;
  top: -22px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.services-controls {
  position: relative;
  top: -72px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
      flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 284px;
  min-height: 320px;
  margin-right: 115px;

  border-right: 6px solid black;

  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -ms-flex-align: start;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.services-switcher {
  position: relative;
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 278px;
  max-width: 278px;
  min-height: 40px;
  padding: 8px 0;
  padding-right: 113px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background-color: transparent;
  border: none;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: start;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.services-switcher .button-text {
  max-width: 125px;
}

.services-switcher:not(:last-of-type) {
  margin-bottom: 25px;
}

.button-text {
  position: relative;
  z-index: 2;

  max-width: inherit;

  word-wrap: break-word;
}

.services-switcher:hover {
  cursor: pointer;
}

.services-switcher::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  width: 163px;
  height: 8px;

  background-color: #f0c52e;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  -webkit-transition: 0.3s ease-in-out;
       -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
}

.services-switcher:hover::before,
.services-switcher:hover::before {
  height: 40px;

  outline: none;
}

.srv-1:checked ~ .services-wrapper .services-controls label[for="srv-1"],
.srv-2:checked ~ .services-wrapper .services-controls label[for="srv-2"],
.srv-3:checked ~ .services-wrapper .services-controls label[for="srv-3"] {
  color: #f7e296;

  background-color: black;
}

.srv-1:checked ~ .services-wrapper .services-controls label[for="srv-1"]::before,
.srv-2:checked ~ .services-wrapper .services-controls label[for="srv-2"]::before,
.srv-3:checked ~ .services-wrapper .services-controls label[for="srv-3"]::before {
  display: none;
}

.services-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;

  -webkit-box-pack: start;
  -ms-flex-item-align: start;
  -ms-flex-pack: start;
}

.service-description {
  position: relative;

  width: 462px;
}

.delivery-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 542px;

  width: 136px;
  height: 164px;

  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.guarantee-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 540px;

  width: 171px;
  height: 194px;

  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.credit-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 533px;

  width: 156px;
  height: 186px;

  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-description-wrapper {
  width: 720px;
  overflow: hidden;
}

.services-description {
  width: 400%;
}

.service-description {
  margin-right: 300px;
}

.srv-1:checked ~ .services-wrapper .services-description-wrapper .services-description {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.srv-2:checked ~ .services-wrapper .services-description-wrapper .services-description {
  -webkit-transform: translateX(-762px);
      -ms-transform: translateX(-762px);
          transform: translateX(-762px);
}

.srv-3:checked ~ .services-wrapper .services-description-wrapper .services-description {
  -webkit-transform: translateX(-1514px);
      -ms-transform: translateX(-1514px);
          transform: translateX(-1514px);
}

.service-title {
  max-width: 462px;
  margin: 0;
  margin-bottom: 32px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  word-wrap: break-word;
}

.service-info {
  max-width: 462px;
  margin: 0;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgb(70, 70, 70);
  word-wrap: break-word;
}

.partners-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 150px;

  -webkit-box-align: start;
  -webkit-box-pack: start;
  -ms-flex-align: start;
  -ms-flex-pack: start;
}

.partner-logo:not(:last-of-type) {
  margin-right: 40px;
}

.partner-logo {
  width: 260px;
  height: 100px;
}

.partner-logo:nth-of-type(1) {
  background-image: url("../img/logo-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.partner-logo:nth-of-type(1):hover,
.partner-logo:nth-of-type(1):focus {
  background-image: url("../img/logo-1-hov.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.partner-logo:nth-of-type(2) {
  background-image: url("../img/logo-2.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.partner-logo:nth-of-type(2):hover,
.partner-logo:nth-of-type(2):focus {
  background-image: url("../img/logo-2-hov.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.partner-logo:nth-of-type(3) {
  background-image: url("../img/logo-3.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.partner-logo:nth-of-type(3):hover,
.partner-logo:nth-of-type(3):focus {
  background-image: url("../img/logo-3-hov.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.partner-logo:nth-of-type(4) {
  background-image: url("../img/logo-4.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.partner-logo:nth-of-type(4):hover,
.partner-logo:nth-of-type(4):focus {
  background-image: url("../img/logo-4-hov.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 94px;

  -webkit-box-align: stretch;
  -webkit-box-pack: justify;
  -ms-flex-align: stretch;
  -ms-flex-pack: justify;
}

.about-us-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
      flex-wrap: wrap;
  align-items: flex-start;
  width: 480px;

  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: start;
  -ms-flex-wrap: wrap;
}

.about-us-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
      flex-wrap: wrap;
  align-items: flex-start;
  width: 560px;

  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: start;
  -ms-flex-wrap: wrap;
}

.about-us-title {
  position: relative;

  max-width: 100%;
  margin: 0;
  margin-bottom: 51px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  word-wrap: break-word;
}

.about-us-title::before {
  content: "";
  position: absolute;
  top: -53px;
  left: 0;

  width: 79px;
  height: 7px;

  background-color: black;
}

.about-us-info,
.contacts-info {
  max-width: 100%;

  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
  word-wrap: break-word;
}

.about-us-info {
  margin: 0;
  margin-bottom: 30px;
}

.about-us-info:last-of-type {
  margin-bottom: 80px;
}

.transport-links {
  max-width: 100%;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
  font-weight: 800;
  font-size: 15px;
  line-height: 17px;
}

.transport-link {
  position: relative;

  max-width: inherit;
  padding-left: 34px;

  word-wrap: break-word;
}

.transport-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 8px;
  height: 8px;

  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.transport-link:not(:last-of-type) {
  margin-bottom: 22px;
}

.about-us-link {
  margin-top: auto;
}

.contacts-info {
  margin: 0;
  margin-bottom: 38px;
}

.map {
  width: 560px;
  height: 222px;
  margin-bottom: 81px;

  background-color: white;
  cursor: pointer;
}

.about-us-link,
.contacts-form-trigger {
  position: relative;
  z-index: 2;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 260px;
  margin-top: auto;
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background-color: transparent;
  border: none;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.about-us-link::before,
.contacts-form-trigger::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;

  width: 260px;
  height: 8px;

  background-color: #f0c52e;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  -webkit-transition: 0.3s ease-in-out;
       -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
}
.about-us-link:hover::before,
.contacts-form-trigger:hover::before {
  height: 40px;

  outline: none;
}

.about-us-link:active .button-text,
.contacts-form-trigger:active .button-text {
  opacity: 0.3;
}

.pop-up-map {
  position: relative;

  max-width: 960px;
  height: 559px;
}

.pop-up-contacts {
  max-width: 960px;
}

.pop-up-wrapper {
  position: relative;
}

.pop-up-map .pop-up-wrapper {
  max-height: 559px;
  overflow: hidden;
}

.close-form,
.close-map {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 100;

  width: 55px;
  height: 55px;

  background-color: transparent;
  background-image: url("../img/modal-close.svg");
  border: none;
  opacity: 0.5;
}

.close-form:hover,
.close-form:focus,
.close-map:hover,
.close-map:focus {
  opacity: 1;
}

.close-form:active,
.close-map:active {
  opacity: 0.3;
}

.pop-up-contacts-form {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 960px;
  padding: 0 100px;
  padding-top: 93px;
  padding-bottom: 88px;

  -webkit-box-shadow: 0 10px 20px 0 rgba(4,6,6,0.20);
          box-shadow: 0 10px 20px 0 rgba(4,6,6,0.20);

  -webkit-box-align: start;
  -webkit-box-pack: start;
  -ms-flex-align: start;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.labels-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 38px;

  -webkit-box-align: start;
  -webkit-box-pack: justify;
  -ms-flex-align: start;
  -ms-flex-pack: justify;
}

.message-label,
.message-label span,
.message-label textarea {
  width: 100%;
}

.message-label span {
  max-width: 100%;

  word-wrap: break-word;
}

.message-label {
  margin-bottom: 53px;
}

.message-label textarea {
  height: 155px;

  resize: none;
}

.labels-wrapper label,
.labels-wrapper label span,
.labels-wrapper label input {
  width: 360px;
}

.labels-wrapper label input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  padding: 20px;
}

.pop-up-contacts-form label {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.pop-up-contacts-form textarea {
  padding: 20px;
}

.pop-up-contacts-form input,
.pop-up-contacts-form textarea {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", Arial, sans-serif;
  color: black;

  background-color: #f2f2f2;
  border: none;
  opacity: 0.5;
}

.pop-up-contacts-form input:hover,
.pop-up-contacts-form textarea:hover {
  background-color: #eaeaea;
  opacity: 0.8;
}

.pop-up-contacts-form input:focus,
.pop-up-contacts-form textarea:focus {
  background-color: white;
  outline: none;
  -webkit-box-shadow: 0 0 0 2px #f7e296;
          box-shadow: 0 0 0 2px #f7e296;
  opacity: 1;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }

  30%,
  90% {
    -webkit-transform: translate(-5px, 5px) rotate(3deg);
            transform: translate(-5px, 5px) rotate(3deg);
  }

  60% {
    -webkit-transform: translate(5px, -5px) rotate(-3deg);
            transform: translate(5px, -5px) rotate(-3deg);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(0) rotate(0);
            transform: translate(0) rotate(0);
  }

  30%,
  90% {
    -webkit-transform: translate(-5px, 5px) rotate(3deg);
            transform: translate(-5px, 5px) rotate(3deg);
  }

  60% {
    -webkit-transform: translate(5px, -5px) rotate(-3deg);
            transform: translate(5px, -5px) rotate(-3deg);
  }
}

.pop-up-contacts-form input:invalid,
.pop-up-contacts-form input.invalid,
.pop-up-contacts-form textarea.invalid {
  background-color: #edb5b5;
  opacity: 0.5;

  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

.pop-up-contacts-form .submit-btn {
  position: relative;
  z-index: 2;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 200px;
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background-color: transparent;
  border: none;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.pop-up-contacts-form .submit-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;

  width: 200px;
  height: 8px;

  background-color: #f0c52e;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  -webkit-transition: 0.3s ease-in-out;
       -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
}

.pop-up-contacts-form .submit-btn:hover::before,
.pop-up-contacts-form .submit-btn:focus::before {
  height: 40px;

  outline: none;
}

.pop-up-contacts-form .submit-btn:active .button-text {
  opacity: 0.3;
}

.pop-up-contacts,
.pop-up-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  background-color: white;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  opacity: 1;

  -webkit-transition: 0.3s ease-in-out;
       -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
}

.pop-up-map {
  z-index: 101;
}

.pop-up-contacts.hidden,
.pop-up-map.hidden {
  left: 100%;
  z-index: -1;

  opacity: 0;
}

/* catalog */

.page-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-container > .container {
  max-width: 1440px;
  margin: 0 auto;
}

.current-category {
  width: 1040px;
  margin: 43px auto 18px auto;
  padding: 0;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  word-wrap: break-word;
}

.breadcrumbs-chain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 1040px;
  margin: 0 auto;
  margin-bottom: 45px;
  padding: 0;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", Arial, sans-serif;

  -webkit-box-align: center;
  -webkit-box-pack: start;
  -ms-flex-align: center;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.breadcrumbs-item {
  position: relative;

  max-width: 300px;
  margin-right: 19px;
  padding-right: 20px;

  word-wrap: break-word;
}

.breadcrumbs-item:last-of-type {
  margin-right: 0;
  padding-right: 0;
}

.breadcrumbs-item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 6px;
  height: 100%;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-item a {
  opacity: 0.3;
}

.breadcrumbs-item a:focus,
.breadcrumbs-item a:hover {
  outline: none;
  opacity: 0.6;
}

.breadcrumbs-item a:active {
  outline: none;
  opacity: 0.1;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: stretch;

  -webkit-box-align: stretch;
  -webkit-box-pack: center;
  -ms-flex-align: stretch;
  -ms-flex-pack: center;
}

.filters {
  position: relative;

  width: 468px;
  margin-bottom: 4px;
}

.filters::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;

  width: 2000px;
  height: 100%;

  background-color: #efefef;
}

.filters-intro {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  max-width: 473px;
  min-height: 70px;
  margin: 0;
  padding: 23px 0;
  padding-right: 180px;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  word-wrap: break-word;

  -webkit-box-align: center;
  -webkit-box-pack: end;
  -ms-flex-align: center;
  -ms-flex-pack: end;
  -ms-flex-wrap: wrap;
}

.filters-intro span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 90px;
  min-height: 24px;

  word-wrap: break-word;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.filters-intro::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  width: 2000px;
  height: 100%;

  background-color: #dbdbdb;
}

.filters-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  padding-top: 69px;
  padding-right: 68px;

  background-color: #efefef;

  -webkit-box-align: end;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: end;
}

.filters-form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 201px;
  margin: 0;
  padding: 0;
  padding-top: 13px;

  border: none;
  border-top: 2px solid black;

  -webkit-box-align: start;
  -webkit-box-pack: start;
  -ms-flex-align: start;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.form-intro {
  width: 100%;
  max-width: 200px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  word-wrap: break-word;
}

.filters-form .cost-range {
  margin-bottom: 32px;
}

.cost-range > .form-intro {
  padding-bottom: 39px;
}

.scale {
  position: relative;

  width: 100%;
  height: 2px;
  margin-bottom: 16px;

  background-color: #dbdbdb;
}

.color-scale {
  position: absolute;
  top: 0;
  left: 0;

  height: 2px;

  background-color: #91c92f;
}

.range-circle {
  position: absolute;
  top: -10px;

  width: 20px;
  height: 22px;

  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.range-circle {
  cursor: pointer;
}

.range-circle-min {
  left: -10px;
}

.range-circle-max {
  left: 60%;
}

.scale-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  -webkit-box-align: start;
  -webkit-box-pack: start;
  -ms-flex-align: start;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.cost-range label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 55px;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: black;

  opacity: 0.2;
}

.cost-range label:first-of-type {
  margin-right: 63px;
}

.cost-range  span,
.cost-range  span {
  margin-right: 4px;
}

.cost-range input {
  width: 34px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: none;
  outline: none;
}

.filters-form .colors {
  margin-bottom: 32px;
}

.colors > .form-intro {
  padding-bottom: 27px;
}

.colors-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -ms-flex-align: start;
  -ms-flex-pack: start;
}

.checkbox {
  position: relative;

  max-width: 200px;
  margin-bottom: 17px;
  padding-left: 40px;

  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  font-family: "Open Sans", Arial, sans-serif;
  vertical-align: top;
  word-wrap: break-word;
}

.checkbox:hover {
  cursor: pointer;
}

.checkbox:last-of-type {
  margin-bottom: 0;
}

.checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox:focus::before,
.checkbox:hover::before {
  opacity: 0.6;
}

.check1:checked ~ label[for="check1"],
.check2:checked ~ label[for="check2"],
.check3:checked ~ label[for="check3"],
.check4:checked ~ label[for="check4"],
.check5:checked ~ label[for="check5"] {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.check1:disabled ~ label[for="check1"],
.check2:disabled ~ label[for="check2"],
.check3:disabled ~ label[for="check3"],
.check4:disabled ~ label[for="check4"],
.check5:disabled ~ label[for="check5"] {
  opacity: 0.25;
}

.filters-form .bluetooth {
  margin-bottom: 52px;
}

.bluetooth > .form-intro {
  padding-bottom: 27px;
}

.bluetooth-options {
  margin: 0;
  padding: 0;

  list-style: none;
}

.bluetooth-option:not(:last-of-type) {
  margin-bottom: 16px;
}

.bluetooth-option {
  max-width: 200px;

  word-wrap: break-word;
}

.radio-label {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 25px;
  padding-left: 40px;

  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  font-family: "Open Sans", Arial, sans-serif;

  -webkit-box-align: center;
  -webkit-box-pack: start;
  -ms-flex-align: center;
  -ms-flex-pack: start;
}

.radio-label:last-of-type {
  margin-bottom: 0;
}

.radio-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.radio-label:hover {
  cursor: pointer;
}

.blue1:checked ~ label[for="blue1"]::before,
.blue2:checked ~ label[for="blue2"]::before {
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.blue1:disabled ~ label[for="blue1"]::before,
.blue2:disabled ~ label[for="blue2"]::before {
  opacity: 0.25;
}

.filters-form .submit-bnt {
  position: relative;
  z-index: 2;

  width: 100%;
  max-width: 200px;
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background-color: transparent;
  border: none;
}

.button-text {
  position: relative;
  z-index: 3;

  word-wrap: break-word;
}

.filters-form .submit-bnt::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;

  width: 200px;
  height: 8px;

  background-color: #f0c52e;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  -webkit-transition: 0.3s ease-in-out;
       -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
}

.filters-form .submit-bnt:hover::before,
.filters-form .submit-bnt:focus::before {
  height: 40px;

  outline: none;
}

.filters-form .submit-bnt {
  cursor: pointer;
}

.submit-bnt:active .button-text {
  opacity: 0.3;
}

.sort {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          box-sizing: border-box;
  max-width: 832px;
  min-height: 70px;
  margin-bottom: 70px;
  padding-left: 73px;

  -webkit-box-align: center;
  -webkit-box-pack: start;
  -ms-flex-align: center;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.sort::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

  width: 2000px;
  height: 100%;
  min-height: 70px;

  background-color: #ebebeb;
}

.sort-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 150px;
  min-height: 70px;
  margin: 0;
  margin-right: 54px;
  padding: 23px 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  word-wrap: break-word;
  word-wrap: break-word;

  -webkit-box-align: center;
  -webkit-box-pack: start;
  -ms-flex-align: center;
  -ms-flex-pack: start;
}

.sort-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 70px;
  margin: 0;
  padding: 26px 0;

  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", Arial, sans-serif;

  -webkit-box-align: center;
  -webkit-box-align: start;
  -webkit-box-pack: start;
  -ms-flex-align: start;
  -ms-flex-align: center;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.sort-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  min-height: 18px;
  margin-right: 20px;

  word-wrap: break-word;

  opacity: 0.3;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.sort-option.active {
  opacity: 1;
}

.sort-option:last-of-type {
  margin-right: 0;
}

.sort-option:hover,
.sort-option:focus {
  opacity: 0.6;
}

.sort-option:active {
  opacity: 1;
}

.sort-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 50px;
  min-height: 70px;
  margin: 0;
  margin-left: auto;
  padding: 30px 0;

  list-style: none;

  -webkit-box-align: center;
  -webkit-box-pack: start;
  -ms-flex-align: center;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.sort-btns li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10px;

  word-wrap: break-word;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.sort-btns li:not(:last-of-type) {
  margin-right: 16px;
}

.sort-btn {
  opacity: 0.2;
}

.sort-btn:hover,
.sort-btn:focus {
  opacity: 0.4;
}

.sort-btn:active {
  opacity: 1;
}

.sort-btn.active {
  opacity: 1;
}

.inc-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11px;
  height: 10px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.dec-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.catalog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 972px;
  margin-bottom: 44px;
  padding-right: 140px;
  padding-left: 72px;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.catalog-item {
  position: relative;

  max-width: 360px;
  margin-bottom: 52px;
}

.catalog-item:last-of-type,
.catalog-item:nth-last-of-type(2) {
  margin-bottom: 0;
}

.catalog-item:nth-of-type(2n-1) {
  margin-right: 39px;
}

.catalog-item img {
  width: 360px;
  height: 379px;
  margin-bottom: 33px;
}

.item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  -webkit-box-align: start;
  -webkit-box-pack: justify;
  -ms-flex-align: start;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.item-title {
  max-width: 275px;
  margin: 0;
  padding: 0;
  padding-right: 10px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  word-wrap: break-word;
}

.item-cost {
  max-width: 85px;

  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  word-wrap: break-word;
}

.item-overlay-btns {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 379px;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.catalog-item:hover .item-overlay-btns,
.catalog-item:focus .item-overlay-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item:focus img,
.catalog-item:hover img {
  opacity: 0.7;
}

.add-basket-btn {
  position: relative;
  z-index: 2;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 200px;
  padding: 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  background-color: transparent;
  border: none;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.add-basket-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;

  width: 200px;
  height: 8px;

  background-color: #f0c52e;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  -webkit-transition: 0.3s ease-in-out;
       -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
}

.add-basket-btn:hover::before,
.add-basket-btn:focus::before {
  height: 40px;

  outline: none;
}

.add-basket-btn:active .button-text {
  opacity: 0.3;
}

.add-compare-btn {
  max-width: 141px;

  font-weight: 400;
  font-size: 13px;
  line-height: 36px;
  font-family: "Open Sans", Arial, sans-serif;

  opacity: 0.5;
}

.add-compare-btn:focus,
.add-compare-btn:hover {
  opacity: 1;
}

.add-compare-btn:active {
  opacity: 0.2;
}

.new-item {
  position: absolute;
  top: 30px;
  left: 270px;
  z-index: 2;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 64px;
  max-width: 64px;
  min-height: 64px;
  padding: 20px 10px;

  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  word-wrap: break-word;

  border: 2px solid black;
  border-radius: 50%;
  opacity: 0.1;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.catalog-pagination {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 760px;
  min-height: 70px;
  margin: 0 0 77px 72px;
  padding: 0;

  list-style: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.2px;

  background-color: #ebebeb;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.catalog-pagination-item:not(:last-of-type):not(:first-of-type) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  margin-right: 28px;
  padding: 23px 0;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.catalog-pagination-item {
  max-width: 48px;

  text-transform: uppercase;
  word-wrap: break-word;
}

.prev-page {
  position: absolute;
  top: 0;
  left: 0;
}

.next-page {
  position: absolute;
  top: 0;
  right: 0;
}

.prev-page,
.next-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 140px;
  min-height: 70px;
  padding: 23px 20px;

  word-wrap: break-word;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
}

.prev-page:hover,
.prev-page:focus,
.next-page:hover,
.next-page:focus {
  background-color: #d9d9d9;
}

.prev-page:active,
.next-page:active {
  opacity: 0.3;
}

.catalog-pagination-item:not(:last-of-type):not(:first-of-type) {
  opacity: 0.3;
}

.catalog-pagination-item.active:not(:last-of-type):not(:first-of-type) {
  opacity: 1;
}

.catalog-pagination-item:focus:not(:last-of-type):not(:first-of-type),
.catalog-pagination-item:hover:not(:last-of-type):not(:first-of-type) {
  opacity: 0.6;
}

.catalog-pagination-item:active:not(:last-of-type):not(:first-of-type) {
  opacity: 1;
}
